1.  for hover over About TU, fill drop down menu with those:
Educational Philosophy
Vision
President's Greeting
History
Symbol
Global Networks
Public Relations Videos
Campus Map
TU School Shuttle Bus Schedule
2. for hover over Admission, fill drop down menu with those:
Admission Office / Contact Us
Undergraduate Admissions
Graduate School
Tuition
Scholarships
Admission Guideline
Global Education Center
Dormitory
3. for hover over Academics, fill drop down menu with those:
College of ICT Convergence
College of Companion Animal
College of Business Administration
College of Health, Welfare and Education
College of Beauty Art
College of Architecture and Design
College of Media
Collge of Future Multidisciplinary Studies
Busan International college
4. for hover over Special Joint Program, fill drop down menu with those:
Huanghuai University China
HCMUT VN
VLUTE VN
HCMUTE VN
International track
Campus Activities of INTL. Students
5. for hover over International Students Support, fill drop down menu with those:
Main Library
TU Career Support
News and Events
Busan is Good
Student Support and Advocacy Center
